:root {
  --ui-color-white: #ffffff;
  --ui-color-black: #000000;
  --ui-color-orange: #ff5f00;
  --ui-color-dark-orange: #fb4f00;
  --ui-color-background: #fdf6ee;
  --ui-color-pineapple: #fdc92a;
  --ui-color-mist: #ecf9f3;
  --ui-color-softbrown: #917877;
  --ui-link-color: #257886;
  --ui-color-grey: #ebe7e2;
  --ui-color-grey-light: #e3e3e3;
  --ui-color-frame: #f9f8f6;
  --ui-yellow: #ffcc00;
  --ui-brown: #5c4033;
  --ui-green: #51971b;
  --ui-primary-color: #d1c6c4;
  --ui-color-input-border: #bcd8db;
  --ui-color-bark-70: #512b2b;
  --ui-color-stroke-focus: #5b8ad6;
  --ui-color-alert-red: #c5131c;
  --ui-color-tooltip-background: #eaded7;
  --ui-color-radio-button-brown: #522e2c;
  --ui-color-radio-button-orange: #fa5d0f;
  --ui-color-radio-button-yellow: #ffd43b;
  --ui-color-table-line-grey: #ece7e2;
  --ui-transition-time: 0.25s;
  --ui-transition-function: ease-out;
  --ui-font-weight-bold: 700;
  --font-roboto: "Roboto", Helvetica, Arial, sans-serif;
  --ui-color-surface-mod-hover-on-dark: rgba(81, 43, 43, 0.08);
  --ui-color-surface-mod-hover-on-light: rgba(81, 43, 43, 0.04);
  --ui-focus-ring: 2px solid var(--ui-color-stroke-focus);
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--ui-color-background);
  margin: 0;
  padding: 0;
  color: var(--ui-color-bark-70);
}

header {
  min-height: 100px;
  border-top: 3px solid var(--ui-color-dark-orange);
  width: 100%;
  background-color: var(--ui-color-white);
  display: flex;
  justify-content: center;
}

.logo-link {
  display: block;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  padding: 50px 0;
}

.logo-link:focus,
.logo-link:focus-visible {
  outline: 2px solid var(--ui-color-stroke-focus);
  outline-offset: 4px;
}

h1 {
  color: var(--ui-color-dark-orange);
  font-size: 40px;
  line-height: 56px;
  padding-left: 20px;
  margin: 30px 0 10px;
  font-weight: var(--ui-font-weight-bold);
}

h2 {
  font-size: 24px;
  line-height: 34px;
  color: var(--ui-color-dark-orange);
  position: relative;
  padding-bottom: 10px;
  font-weight: var(--ui-font-weight-bold);
}

h2::after {
  content: "";
  background: var(--ui-color-grey-light);
  left: 0;
  right: 0;
  height: 1px;
  position: absolute;
  bottom: 5px;
  display: block;
}

h3,
li a {
  color: var(--ui-color-bark-70);
}

h3 {
  font-weight: var(--ui-font-weight-bold);
  font-size: 20px;
}

li {
  margin-top: 16px;
}

p {
  padding-top: 20px;
}

label,
legend {
  font-family: var(--font-roboto);
  color: var(--ui-color-softbrown);
  font-size: 16px;
  display: block;
}

.required-mark {
  color: var(--ui-color-dark-orange);
  padding-left: 4px;
}

header,
footer {
  background-color: var(--ui-color-white);
}

footer {
  border-top: 8px solid var(--ui-color-dark-orange);
}

.footer-container {
  margin-top: 32px;
  padding: 72px 24px 88px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1260px;
  margin: 0 auto;
}

main {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto auto;
  padding: 20px 0;
}

.form-container {
  background-color: var(--ui-color-white);
  padding: 20px;
  border-radius: 8px;
  border-bottom: 1px solid var(--ui-color-grey);
  border-top: 1px solid var(--ui-color-grey);
}

.frame-form {
  background-color: var(--ui-color-frame);
  border-radius: 16px;
  padding: 24px 8px;
}

.form-steps-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 32px 0;
}

.step-label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.step-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--ui-primary-color);
  color: var(--ui-color-white);
  border: none;
  font-weight: bold;
  position: relative;
  z-index: 1;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.step-text:focus-visible {
  outline: 2px solid var(--ui-color-stroke-focus);
  outline-offset: 4px;
}

.step-label.active .step-link {
  background-color: var(--ui-yellow);
  color: var(--ui-brown);
}

.step-label.completed .step-link {
  background-color: var(--ui-green);
  color: var(--ui-color-white);
}

.step-label .step-text {
  text-decoration: underline;
  color: var(--ui-link-color);
  font-size: 14px;
  margin-top: 8px;
  cursor: pointer;
}

.step-label.active ~ .step-label .step-text {
  cursor: default;
  text-decoration: none;
}

.step-label:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--ui-color-grey);
  z-index: 0;
  margin-top: -1px;
}

.step-label:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 50%;
  height: 2px;
  background-color: var(--ui-color-grey);
  z-index: 0;
  margin-top: -1px;
}

.step-label.completed + .step-label::before {
  background-color: var(--ui-green);
}

.step-label.completed::after {
  background-color: var(--ui-green);
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 42px;
  grid-gap: 10px;
}

.credit-description {
  display: flex;
  flex-direction: row;
  align-self: self-start;
  justify-content: flex-end;
  align-self: anchor-center;
}

.credit-value {
  display: flex;
}

.slider-section {
  width: 65%;
}

.number-input-section {
  max-width: 25%;
  margin-left: 20px;
  width: 100%;
  align-self: anchor-center;
}

.number-input-section input {
  width: 100%;
}

input[type="text"],
input[type="number"],
select,
textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--ui-color-input-border);
  border-radius: 4px;
  color: var(--ui-color-bark-70);
  font-size: 15px;
  font-family: var(--font-roboto);
}

input:focus-visible {
  outline: var(--ui-focus-ring);
}

input[type="range"] {
  width: 100%;
  margin-top: 10px;
}

#credit-limit {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: linear-gradient(
    to right,
    var(--ui-color-dark-orange) 0%,
    var(--ui-color-dark-orange) 0%,
    var(--ui-color-grey) 0%,
    var(--ui-color-grey) 100%
  );
  outline: none;
  cursor: pointer;
}

#credit-limit::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--ui-color-dark-orange);
  cursor: pointer;
  margin-top: -6px;
  position: relative;
  z-index: 2;
}

#credit-limit::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--ui-color-dark-orange);
  border: none;
  cursor: pointer;
}

#credit-limit:focus-visible::-webkit-slider-thumb {
  border: 2px solid var(--ui-color-stroke-focus);
}

#credit-limit:focus-visible::-moz-range-thumb {
  border: 2px solid var(--ui-color-stroke-focus);
}

#credit-limit::-moz-range-track {
  height: 8px;
  background: var(--ui-color-grey);
  border-radius: 4px;
}

#credit-limit::-moz-range-progress {
  background: var(--ui-color-dark-orange);
  height: 8px;
  border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 8px;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  margin: 4px 2px 10px;
}

.navigation,
.start-navigation {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.start-navigation {
  justify-content: end;
}

.back,
.next {
  cursor: pointer;
  transition: all var(--ui-transition-time) var(--ui-transition-function);
  border-radius: 24px;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  padding: 13px 24px 11px;
  font-weight: var(--ui-font-weight-bold);
  font-size: 19px;
}

.next {
  color: var(--ui-color-white);
  background-color: var(--ui-color-orange);
  display: flex;
  justify-self: end;
}

.next:hover,
.next:focus {
  background-color: rgba(81, 43, 43, 0.08);
  background: linear-gradient(
      0deg,
      var(--ui-color-surface-mod-hover-on-dark) 100%
    ),
    var(--ui-color-orange);
}

.next:focus-visible,
.back:focus-visible {
  border: solid 2px var(--ui-color-stroke-focus);
}

.back {
  color: var(--ui-link-color);
}

.back:hover,
.back:focus {
  background-color: var(
    --ui-color-surface-mod-hover-on-light,
    rgba(81, 43, 43, 0.04)
  );
}

.error-message,
.error-message-column {
  color: var(--ui-color-alert-red);
  font-size: 14px;
  margin-top: 4px;
  display: none;
}

.error-message-column {
  grid-column-start: 2;
}

#credit-limit-display {
  font-weight: bold;
  margin-bottom: 8px;
}

.tooltip-trigger {
  margin-left: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: var(--ui-primary-color);
  color: var(--ui-color-white);
  font-weight: bold;
  font-size: 14px;
  border-radius: 50%;
  user-select: none;
  line-height: 1;
}

.tooltip-trigger::before {
  content: "?";
  padding-top: 1px;
  color: var(--ui-color-white);
}

.tooltip-trigger:focus::before,
.tooltip-trigger:active::before,
.tooltip-trigger:focus-visible::before {
  content: "×";
  color: var(--ui-color-bark-70);
  padding-top: 1px;
}

.tooltip-trigger:hover,
.tooltip-trigger:active,
.tooltip-trigger:focus,
.tooltip-trigger:focus-visible {
  background-color: var(--ui-color-pineapple);
  color: var(--ui-color-bark-70);
}

.tooltip-trigger:focus-visible {
  border: solid 2px var(--ui-color-stroke-focus);
}

.tooltip-trigger:focus + .tooltip-text,
.tooltip-trigger:active + .tooltip-text {
  visibility: visible;
}

.tooltip-text {
  position: absolute;
  word-wrap: break-word;
  background-color: var(--ui-color-tooltip-background);
  padding: 20px;
  border-radius: 3px;
  margin-top: 24px;
  margin-left: -20px;
  max-width: 300px;
  visibility: hidden;
}

.tooltip-text::after {
  top: -10px;
  left: 20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--ui-color-tooltip-background);
  content: "";
  width: 0;
  height: 0;
  position: absolute;
}

select {
  background-color: var(--ui-color-mist);
  max-width: 300px;
  background-size: 18px 18px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 28 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='dropdown.-traingle' d='m8.7174 15.485h10.804l-5.4022 9.6601z' stroke-width='1.5764'/%3E%3Cpath d='m19.632 11.771h-10.804l5.4022-9.6601z' stroke-width='1.5764'/%3E%3C/svg%3E");
  background-position: right calc(20px * -1) center;
  background-origin: content-box;
  background-repeat: no-repeat;
  appearance: none;
  font: normal 15px var(--font-roboto);
  padding: 13px 30px 13px 10px;
  height: 46px;
  border: 1px solid var(--ui-color-input-border);
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--ui-color-bark-70);
}

select:focus-visible,
select:focus {
  border: solid 2px var(--ui-color-stroke-focus);
}

.grid-container label,
.grid-container legend {
  display: flex;
  flex-direction: row;
  align-self: self-start;
  justify-content: flex-end;
  align-self: anchor-center;
  text-align: end;
}

.payment-day,
.net-income {
  width: 100px;
}

.radio-buttons,
.checkboxes {
  justify-items: flex-start;
}

.input-suffix,
.custom-radio {
  font-family: var(--font-roboto);
  color: var(--ui-color-bark-70);
  margin-left: 10px;
}

.radio-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.custom-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif;
  color: var(--ui-color-radio-button-brown);
}

.custom-radio input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: var(--ui-color-input-border) 3px solid;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  background-color: var(--ui-color-white);
  cursor: pointer;
  transition: border-color 0.3s ease;
  display: inline-block;
  vertical-align: middle;
}

.custom-radio input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  background-color: var(--ui-color-radio-button-orange);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
  pointer-events: none;
}

.custom-radio input[type="radio"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.custom-radio:hover input[type="radio"],
.custom-radio input[type="radio"]:not(:checked):hover,
.custom-radio input[type="radio"]:checked:hover {
  border-color: var(--ui-color-radio-button-yellow);
}

.custom-radio:hover input[type="radio"],
.custom-radio:hover input[type="radio"]::before {
  color: var(--ui-color-radio-button-yellow);
}

.custom-radio:hover input[type="radio"]::before,
.custom-radio input[type="radio"]:not(:checked):hover,
.custom-radio input[type="radio"]:checked:hover::before {
  background-color: var(--ui-color-radio-button-yellow);
}

.custom-radio input[type="radio"]:not(:checked):hover::before {
  transform: scale(0);
}

.custom-radio input[type="radio"]:checked {
  border-color: var(--ui-color-radio-button-orange);
}

.custom-radio input[type="radio"]:checked:hover {
  background-color: var(--ui-color-radio-button-brown);
}

.custom-radio input[type="radio"]:checked:hover::before {
  background-color: var(--ui-color-radio-button-yellow);
}

.custom-radio input[type="radio"]:focus-visible {
  outline: 2px solid var(--ui-color-stroke-focus, #000);
  outline-offset: 4px;
}

.additional-info {
  max-width: 200px;
}

.checkboxes {
  display: flex;
  gap: 20px;
  align-items: center;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif;
  color: var(--ui-color-radio-button-brown);
}

.custom-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: var(--ui-color-input-border) 3px solid;
  margin-right: 8px;
  position: relative;
  background-color: var(--ui-color-white);
  cursor: pointer;
  transition: border-color 0.3s ease;
  display: inline-block;
  vertical-align: middle;
}

.custom-checkbox input[type="checkbox"] {
  border-radius: 0%;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: var(--ui-color-radio-button-orange);
  border: none;
  position: relative;
}

.custom-checkbox input[type="checkbox"]:checked::before {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: var(--ui-color-white);
  pointer-events: none;
}

.custom-checkbox:hover input[type="checkbox"],
.custom-checkbox input[type="checkbox"]:not(:checked):hover,
.custom-checkbox input[type="checkbox"]:checked:hover {
  border-color: var(--ui-color-radio-button-yellow);
  background-color: var(--ui-color-radio-button-yellow);
}

.custom-checkbox input[type="checkbox"]:checked:hover::before {
  color: var(--ui-color-radio-button-brown);
}

.summary-heading {
  font-size: 16px;
  color: var(--ui-color-bark-70);
  font-family: var(--font-roboto);
  font-weight: var(--ui-font-weight-bold);
  margin-bottom: 20px;
}

#summary-content {
  width: 100%;
  border-collapse: collapse;
}

.info-table-label {
  width: 30%;
  color: var(--ui-color-softbrown);
}

.info-table-label,
.info-table-content {
  padding: 13px 10px;
  border-bottom: 1px var(--ui-color-table-line-grey) solid;
  vertical-align: top;
  font-family: var(--font-roboto);
  line-height: 24px;
}

.info-table-content {
  width: 70%;
  color: var(--ui-color-bark-70);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.disclaimer {
  font-size: 14px;
}
